@using System.Globalization
@using RazorEngine.Templating;
@using ReportUnit.Utils
@inherits TemplateBase<ReportUnit.Model.Summary>
@{Layout = "_Shared/_Layout";}
<div class='header'>
    <nav>
        @Include("_Shared/_SideNav", Model.SideNavLinks)
        <span class='file-name'>Executive Summary</span>
        <ul class='left'>
            <li class='logo'>
                <a href='http://reportunit.relevantcodes.com/'><span>ReportUnit</span></a>
            </li>
        </ul>
        <div class='right hide-on-med-and-down nav-right'>
            <div class='nav-item'>
                v1.50.0
            </div>
        </div>
    </nav>
</div>

<div class='main'>
    <div class='main-wrap'>
        <div class='row'>
            <div class='col s12'>
                <div class='card-panel report-list no-margin-v'>
                    <table class='table bordered'>
                        <thead>
                            <tr>
                                <th>File</th>
                                <th>TestRunner</th>
                                <th>Total Tests</th>
                                <th>Passed</th>
                                <th>Failed</th>
                                <th>Others</th>
                                <th>Quick Summary</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var report in Model.Reports)
                            {
                                <tr>
                                    <td><a href='./@(report.FileName).html'>@report.FileName</a></td>
                                    <td>@report.TestRunner</td>
                                    <td>@report.Total</td>
                                    <td>@report.Passed.AsPercentageOf(report.Total)%</td>
                                    <td>@report.Failed.AsPercentageOf(report.Total)%</td>
                                    <td>@(report.Others.AsPercentageOf(report.Total))%</td>
                                    <td>
                                        <div class='progress2'>
                                            <div style='width: @report.Passed.AsPercentageOf(report.Total).ToString(CultureInfo.InvariantCulture)%' class='progress-bar2 progress-bar-success progress-bar-striped'>
                                                <span class='sr-only'>@report.Passed</span>
                                            </div>
                                            <div style='width: @report.Others.AsPercentageOf(report.Total).ToString(CultureInfo.InvariantCulture)%' class='progress-bar2 progress-bar-warning progress-bar-striped'>
                                                <span class='sr-only'>@report.Others</span>
                                            </div>
                                            <div style='width: @report.Failed.AsPercentageOf(report.Total).ToString(CultureInfo.InvariantCulture)%' class='progress-bar2 progress-bar-danger progress-bar-striped'>
                                                <span class='sr-only'>@report.Failed</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td><span class='weight-normal'>Total</span></td>
                                <td>-</td>
                                <td id="total-tests">@Model.Total</td>
                                <td id="total-passed">@Model.Passed.AsPercentageOf(Model.Total)%</td>
                                <td id="total-failed">@Model.Failed.AsPercentageOf(Model.Total)%</td>
                                <td id="total-others">@Model.Others.AsPercentageOf(Model.Total)%</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='modal2' class='modal'>
    <div class='modal-content'>
        <h4>Console Log</h4>
    </div>
    <div class='modal-footer'>
        <a href='#!' class='modal-action modal-close waves-effect waves-green btn-flat'>Close</a>
    </div>
</div>